{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body>
		{% block title %}Profile Page{% endblock title %}
		{% block content %}
			<div class="flex items-center justify-center">
				<h1>This is the profile page for {{user.username}}</h1>
			</div>
			<div class="w-24 h-24">
				<img class="w-full h-full rounded-full object-cover shadow-lg" src="{{ user.profile.avatar.url }}" alt="User's Profile Picture"/>
			</div>
			<div>
				<p>Bio: {{ user.profile.bio }}</p>
			</div>

			  
			
		{% endblock content %}
		<a href="{% url 'profile-editor' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit Profile</a>
		<a href="{% url 'user-logout' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Logout here</a>
	</body>
</html>
