<!DOCTYPE html>
<html>
<head>
    <title>Friends List</title>
</head>
<body>
    <h1>Friends List</h1>
    <form method="post" action="{% url 'send_friend_request' %}">
        {% csrf_token %}
        <input type="text" name="to_user_username" placeholder="Enter friend's username">
        <button type="submit">Send Friend Request</button>
    </form>
    
    <h2>Friend Requests</h2>
    <ul>
        {% for friend_request in friend_requests_received %}
            <li>
                {{ friend_request.from_user.username }}
                <form method="post" action="{% url 'accept_friend_request' friend_request.id %}">
                    {% csrf_token %}
                    <button type="submit">Accept</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h2>Friends</h2>
    <ul>
        {% for friend in friends %}
            <li>{{ friend.from_user.username }}{% if friend.from_user != request.user %} or {{ friend.to_user.username }}{% endif %}</li>
        {% endfor %}
    </ul>
</body>
</html>
