<div class="font-DMSans">
    <div class="text-heading text-black text-center font-bold">Start learning <span class="underline underline-offset-12 decoration-crimson">today</span></div>
    
    
    <div class="flex justify-center my-6">
        <button class="px-4 py-4 border border-orange border-2 rounded-full text-black"><a href="/nihongo/register">Register</a></button>
        <div class="mx-4"> </div>
        <button class="px-4 py-4 border border-orange border-2 rounded-full text-black"><a href="/nihongo/login">Login</a></button>
    </div>
</div>
