<div class="font-DMSans">
    <div class="text-heading text-black text-center font-bold">Start learning <span class="underline underline-offset-12 decoration-crimson">today</span></div>
    
    
    <div class="flex justify-center my-6">
        <a href="/register"><button class="bg-orange text-white font-semibold py-4 px-6 rounded-full shadow-md hover:bg-crimson transition duration-300">Register</button></a>
        <div class="mx-4"> </div>
        <a href="/login"><button class="bg-orange text-white font-semibold py-4 px-6 rounded-full shadow-md hover:bg-crimson transition duration-300">Login</button></a>    
    </div>
</div>
