{% load static %}
<!-- Footer -->
<footer class=" border border-black border-2 rounded-3xl p-4 bg-white">
    <div class="flex justify-between items-center">
        <!-- Logo and description -->
        <div>
            <h1 class="text-md text-black font-japanese font-bold">日本<span class="text-crimson font-outfit">GO!</span></h1>
            <p class="ml-2 text-black text-sm font-DMSans">NihonGO! is a project developed by Alex, Aiden, Michael, & Eunice <br> under the supervision of Dr. Roberson for Software Engineering Fall '25</p>
        </div>

        <div class="flex items-center">

            <!-- links -->
            <div class="flex flex-col mr-24 text-body">
                <a href="{% url 'about' %}" class="text-black font-DMSans hover:underline underline-offset-2 decoration-crimson">About</a>
                <a href="{% url 'login' %}" class="text-black font-DMSans hover:underline underline-offset-2 decoration-crimson">Login</a>
                <a href="{% url 'register' %}" class="text-black font-DMSans hover:underline underline-offset-2 decoration-crimson">Register</a>
                <a href="https://github.com/aredmondd/nihonGO" target="_blank" class="text-black font-DMSans hover:underline underline-offset-2 decoration-crimson">Github</a>
            </div>

            <!-- photos -->
            <div class="grid grid-cols-2 gap-2">
                <img src="{% static 'redmond.jpg' %}" class="rounded-full w-12 h-12" alt="">
                <img src="{% static 'durden.jpg' %}" class="rounded-full w-12 h-12" alt="">
                <img src="{% static 'richardson.jpg' %}" class="rounded-full w-12 h-12" alt="">
                <div class="bg-peach p-4 rounded-full"></div>
            </div>
        </div>
    </div>
</footer>