{% load static %}
<!-- Side Navbar -->
<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full flex flex-col justify-between px-3 py-4 overflow-y-auto bg-peach">
        <ul class="space-y-2 font-medium mt-6">
            <li>
                <a href="{% url 'index' %}" class="relative group">
                    <h1 class="ml-3 text-md text-black font-japanese font-bold">
                        <!-- Japanese text with hover effect -->
                        <span class="transition-all duration-200 group-hover:opacity-0">日本</span>
                        <span class="absolute top-2 left-3 transition-all duration-200 opacity-0 group-hover:opacity-100 text-2xl">nihon</span>
                        <!-- GO! text always visible -->
                        <span class="text-crimson font-outfit">GO!</span>
                    </h1>
                </a>
            </li>
            

            <li>
                <a href="{% url 'about' %}" class="flex items-center p-2 text-black rounded-lg group {% if request.resolver_match.url_name == 'about' %}underline{% endif %} hover:underline underline-offset-2 decoration-crimson">
                <span class="ms-3">About</span>
                </a>
            </li>

            <li>
                <a href="/mydecks" class="flex items-center p-2 text-black rounded-lg group {% if request.resolver_match.url_name == 'my_decks' %}underline{% endif %} hover:underline underline-offset-2 decoration-crimson">
                <span class="ms-3">Decks</span>
                </a>
           
            </li>

            <li>
                <a href="{% url 'forum_index' %}" class="flex items-center p-2 text-black rounded-lg group {% if request.resolver_match.url_name == 'forum_index' %}underline{% endif %} hover:underline underline-offset-2 decoration-crimson">
                <span class="ms-3">Forum</span>
                </a>
            </li>

            <li>
                <a href="{% url 'register' %}" class="flex items-center p-2 text-black rounded-lg group {% if request.resolver_match.url_name == 'register' %}underline{% endif %} hover:underline underline-offset-2 decoration-crimson">
                <span class="ms-3">Register</span>
                </a>
            </li>

            <li>
                <a href="{% url 'login' %}" class="flex items-center p-2 text-black rounded-lg group {% if request.resolver_match.url_name == 'login' %}underline{% endif %} hover:underline underline-offset-2 decoration-crimson">
                <span class="ms-3">Log In</span>
                </a>
            </li>
        </ul>
    </div>
</aside>