{% extends "components/wrapper.html" %}

{% block content %}
  <h1>Chat Rooms and Friends</h1>
  <div>
    <button onclick="showTab('chat_rooms')">Chat Rooms</button>
    <button onclick="showTab('friends')">Friends</button>
  </div>
  <div id="chat_rooms" class="tab-content">
    <h2>Your Chat Rooms</h2>
    <ul>
        {% for room in chat_rooms %}
        <li><a href="{% url 'room' room.name %}">{{ room.name }}</a></li>
        {% endfor %}
    </ul>
  </div>
  <div id="friends" class="tab-content" style="display: none;">
    <h2>Your Friends</h2>
    <ul>
        {% for friend in friends %}
        <li>{{ friend.friend.username }}</li>
        {% endfor %}
    </ul>
  </div>
  <script>
    function showTab(tab) {
        document.getElementById('chat_rooms').style.display = 'none';
        document.getElementById('friends').style.display = 'none';
        document.getElementById(tab).style.display = 'block';
    }
  </script>
{% endblock %}
