{% extends "components/wrapper.html" %}

{% block content %}
    <h2 class="text-black font-outfit text-heading font-bold">Friends</h2>
    {% if friends|length == 0 %}
    <p class="font-outfit text-black text-opacity-50">so empty...</p>
    {% else %}
    <ul>
        {% for friend in friends %}
            <li class="flex items-center space-x-6">
                <img src="{{ friend.friend.theme_profile.avatar.url }}" alt="" class="w-16">
                <div class="flex flex-col">
                    <p class="text-body text-black font-DMSans">{{ friend.friend.username }}</p>
                    {% if friend.friend.theme_profile.bio == '' %}
                        <p class="text-sm text-opacity-50 text-black font-DMSans">user has no bio</p>
                    {% else %}
                        <p class="text-body text-black font-DMSans">{{ friend.friend.theme_profile.bio }}</p>
                    {% endif %}
                </div>
                <form method="post" action="{% url 'remove_friend' friend.id %}">
                    {% csrf_token %}
                    <button type="submit"><span class="material-symbols-outlined hover:text-crimson">delete</span></button>
                </form>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}