{% extends 'components/wrapper.html' %}

{% block content %}
  <div class="grid grid-cols-2">
    <h2 class="text-center text-crimson font-outfit text-heading font-bold mb-3">Your Chats</h2>

    <div>
        <h2 class="text-center text-crimson font-outfit text-heading font-bold mb-3">Chat Rooms</h2>
        <ul>
            {% for room in chat_rooms %}
                <li><a href="{% url 'room' room.name %}">{{ room.name }}</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'create_chat_room' %}">Create a New Chat Room</a>
    </div>

    <ul>
        {% for friend in friends %}
            <li><a href="{% url 'chat_room' friend.friend.id %}">{{ friend.friend.username }}</a></li>
        {% endfor %}
    </ul>
  </div>
{% endblock %}
