{% extends "components/wrapper.html" %}

{% block content %}
<div class="container">
    <h1>Your Chat Rooms</h1>
    <ul>
        {% for room in chat_rooms %}
        <li><a href="{% url 'room' room.name %}">{{ room.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block styles %}
<style>
    .container {
        background-color: #FFF;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        max-width: 600px;
        margin: 20px auto;
    }
    h1 {
        text-align: center;
        color: #333;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        background-color: #f9f9f9;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        text-align: center;
    }
    li a {
        text-decoration: none;
        color: #007bff;
    }
    li a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}
