{% extends "components/wrapper.html" %}

{% block content %}
    <h1 class="text-black font-outfit text-heading font-bold">Pending Friend Requests</h1>
    <ul>
        {% for request in friend_requests %}
        <li>
            {{ request.user.username }}
            <form method="post" action="{% url 'accept_friend_request' request.id %}">
                {% csrf_token %}
                <button type="submit" class="accept-btn">Accept</button>
            </form>
            <form method="post" action="{% url 'reject_friend_request' request.id %}">
                {% csrf_token %}
                <button type="submit" class="reject-btn">Reject</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% endblock %}