{% load static %}
<!-- Footer -->
<footer class=" border border-black border-2 rounded-3xl p-4 bg-white">
    <div class="flex justify-between items-center">
        <h1 class="text-heading text-black font-outfit font-bold">nihon<span class="text-crimson">GO!</span></h1>

        <div class="flex items-center space-x-2">
            <img src="{% static 'richardson.jpg' %}" class="rounded-full w-14 h-14" alt="">
            <img src="{% static 'redmond.jpg' %}" class="rounded-full w-14 h-14" alt="">
            <img src="{% static 'durden.jpg' %}" class="rounded-full w-14 h-14" alt="">
            <img src="{% static 'eunice.jpg' %}" class="rounded-full w-14 h-14" alt="">
        </div>
    </div>
    <p class="text-black text-sm text-center font-DMSans">nihonGO! is a semester-long project by Alex, Aiden, Michael, and Eunice, developed under the supervision of Dr. Roberson for Software Engineering Fall '25 at Florida Southern College.</p>
</footer>