{% extends 'components/wrapper.html' %}
{% load static %}

{% block content %}
    <h1 class="text-heading text-center text-black font-outfit font-bold">Why nihonGO?</h1>
    <p class="text-body text-center text-black text-opacity-50 font-DMSans my-6 leading-relaxed mx-32 mb-8">
        This semester, we took on the challenge of creating an ambitious web app that showcased our technical skills and ability to collaborate 
        as a team. By harnessing Alex’s love for Japanese, Aiden’s creative vision, Michael’s ambition, & Eunice’s cybersecurity expertise, we brought nihonGO to life.
        <br><br> 
        nihonGO is more than a language learning platform — it’s a bridge connecting English & Japanese speakers offering a space for cultural exchange, language practice, and mutual understanding.
    </p>

    
    <h1 class="text-heading text-center text-black font-outfit font-bold">Meet the team:</h1>
    <p class="text-body text-center text-black font-outfit mb-6">nihonGO! was made possible by the efforts of the 4 creators below, under the supervision of Dr. Roberson</p>
    <div class="grid grid-cols-4 gap-6 font-DMSans mb-12 mx-10">
        {% for member in team_members %}
            <div class="flex flex-col justify-center items-center border border-2 border-orange hover:border-crimson rounded-lg px-4 pb-4 pt-4 mb-6 transition duration-300 ease-in-out">
                <img src="{% static member.image %}" class="rounded-full w-48 h-48" alt="{{ member.name }}">
                <a href="{{ member.link }}" target="_blank" class="text-black text-center mt-4 text-body font-bold underline-offset-2 decoration-crimson hover:underline">{{ member.name }}</a>
                <p class="text-black text-center text-sm text-opacity-50">{{ member.description }}</p>
            </div>
        {% endfor %}
    </div>
    

    <h1 class="text-heading text-center text-black font-outfit font-bold">Learn more</h1>
    <div class="mt-6 mb-32">
        <div class="flex p-5 pl-8 border border-2 border-orange rounded-md mx-64 items-center hover:border-crimson transition duration-300 ease-in-out" 3xl:mx-[575px]">
            <div class="mr-5">
                <img class="rounded-full size-24 max-w-max" src="../static/torii.png" alt="">
            </div>
            <div class="text-white">
                <a href="https://github.com/aredmondd/nihonGO" target="_blank">
                    <h3 class="text-body text-black font-semibold">nihonGO Github Repo</h3>
                </a>
                <p class="text-black opacity-50">nihonGO! is a semester-long project by Alex, Aiden, Michael, and Eunice, developed under the supervision of Dr. Roberson...</p>
            </div>
        </div>
    </div>

{% endblock %}
