<footer class="m-6 border border-peach border-2 rounded-3xl p-4">
    <div class="flex justify-between items-center">
        <!-- Logo and description -->
        <div>
            <h1 class="text-heading text-black font-japanese font-bold">日本<span class="text-crimson font-outfit">GO!</span></h1>
            <p class="ml-2 text-black text-sm font-DMSans">NihonGO! is a project developed by Alex, Aiden, Michael, & Eunice under the supervision of Dr. Roberson for Software Engineering Fall '25</p>
        </div>

        <div class="flex items-center">

            <!-- links -->
            <div class="flex flex-col mr-24">
                <a href="/about" class="text-body text-black font-DMSans hover:underline underline-offset-2 decoration-crimson">About</a>
                <a href="/login" class="text-body text-black font-DMSans hover:underline underline-offset-2 decoration-crimson">Login</a>
                <a href="/register" class="text-body text-black font-DMSans hover:underline underline-offset-2 decoration-crimson">Register</a>
                <a href="https://github.com/aredmondd/nihonGO" target="_blank" class="text-body text-black font-DMSans hover:underline underline-offset-2 decoration-crimson">Github</a>
            </div>

            <!-- photos -->
            <div class="grid grid-cols-2 gap-2">
                <img src="../../static/redmond.jpg" class="rounded-full w-16 h-16" alt="">
                <img src="../../static/durden.jpg" class="rounded-full w-16 h-16" alt="">
                <div class="bg-peach p-8 rounded-full"></div>
                <div class="bg-peach p-8 rounded-full"></div>
            </div>
        </div>
    </div>
</footer>