{% extends 'components/wrapper.html' %}

{% block content %}
    <div class="font-outfit">
        <div class="flex flex-col">
            <h1 class="text-heading text-center text-black font-bold">Learn Japanese, <span class="underline underline-offset-2 decoration-crimson">Your Way</span></h1>
            <p class="mt-3 text-body text-center text-black">nihonGO is more than a learning platform – it’s a community for people passionate about mastering Japanese.</p>
            <div class="grid grid-cols-3 place-items-center mt-6">
                <div class="flex flex-col items-center justify-center">    
                    <img src="static/message.png" alt="" width="250px">
                    <p class="text-black text-body">secure messaging</p>
                </div>
                <div class="flex flex-col items-center justify-center">    
                    <img src="static/flashcards.png" alt="" width="250px">
                    <p class="text-black text-body">custom flashcards</p>
                </div>
                <div class="flex flex-col items-center justify-center">    
                    <img src="static/forum.png" alt="" width="250px">
                    <p class="text-black text-body">community forums</p>
                </div>
            </div>
        </div>

        <div class="mt-24"></div>

        <!-- flashcards -->
        <h1 class="text-heading text-center text-black font-bold">Customizable Flashcards</h1>

        <!-- messaging -->
        <h1 class="text-heading text-center text-black font-bold">Secure, and Free Messaging</h1>

        <!-- forums -->
        <h1 class="text-heading text-center text-black font-bold">Get help from the community with forums</h1>

        <h1 class="text-center font-outfit font-bold text-heading">Start mastering Japanese today.</h1>
        <div class="flex justify-center mt-3">
            <div class="flex my-6">
                <a href="/register"><button class="bg-orange text-white font-semibold py-4 px-6 rounded-full shadow-md hover:bg-crimson transition duration-300">Register</button></a>
                <div class="mx-4"> </div>
                <a href="/login"><button class="bg-orange text-white font-semibold py-4 px-6 rounded-full shadow-md hover:bg-crimson transition duration-300">Login</button></a>
            </div>
        </div>
    </div>
{% endblock %}