{% extends 'components/wrapper.html' %}

{% block content %}
    <div class="font-outfit">
        <div class="flex justify-between space-x-4 mx-4 mt-12">
            <div class="flex flex-col">
                <h1 class="text-heading text-center text-black font-bold">Learn Japanese, <span class="underline underline-offset-2 decoration-crimson">Your Way</span></h1>
                <p class="mt-3 text-body text-center text-black ">Interactive tools, customizable flashcards, & real conversations... <br> NihonGO makes mastering Japanese <span class="text-crimson font-semibold">engaging and easier than ever</span>.</p>
                <div class="flex justify-center mt-3">
                    <div class="flex my-6">
                        <a href="/register"><button class="bg-orange text-white font-semibold py-4 px-6 rounded-full shadow-md hover:bg-crimson transition duration-300">Register</button></a>
                        <div class="mx-4"> </div>
                        <a href="/login"><button class="bg-orange text-white font-semibold py-4 px-6 rounded-full shadow-md hover:bg-crimson transition duration-300">Login</button></a>
                    </div>
                </div>
            </div>
            <div class="bg-white border border-2 border-peach rounded-lg grow flex justify-center items-center">art here :)</div>
        </div>


        <div class="mt-24"></div>


        <h1 class="text-heading text-center text-black font-bold">nihon... GO?</h1>
        <p class="text-black text-center">nihonGO is more than a learning platform – it’s a community for people passionate about mastering Japanese</p>
        <div class="grid grid-cols-3 gap-12 mx-10 mt-6">
            <div class="flex flex-col justify-center items-center mb-6">                                                                                                                 
                <svg width="100" height="100" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <rect x="6" y="4" width="12" height="16" fill="black" />
                    <rect x="8" y="6" width="12" height="16" fill="white" stroke="black" stroke-width="1" />
                  </svg>                  
            </div>
            <div class="flex flex-col justify-center items-center rounded-lg mb-6">
                <svg width="200" height="200" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-crimson">
                    <path d="M3 5C3 4.44772 3.44772 4 4 4H14C14.5523 4 15 4.44772 15 5V10C15 10.5523 14.5523 11 14 11H8L5 14V11H4C3.44772 11 3 10.5523 3 10V5Z" 
                          stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" fill="#BD002C"/>
                    <path d="M9 9C9 8.44772 9.44772 8 10 8H20C20.5523 8 21 8.44772 21 9V14C21 14.5523 20.5523 15 20 15H15L12 18V15H10C9.44772 15 9 14.5523 9 14V9Z" 
                          stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" transform="scale(-1, 1) translate(-32, 0)"/>
                  </svg>
            </div>
            <div class="flex flex-col justify-center items-center mb-6">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                width="200" height="200" viewBox="0 0 900.000000 741.000000"
                preserveAspectRatio="xMidYMid meet">
                <metadata>
                Created by potrace 1.10, written by Peter Selinger 2001-2011
                </metadata>
                <g transform="translate(0.000000,741.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M1975 6473 c-57 -6 -154 -37 -217 -69 -196 -99 -324 -249 -399 -469
                -21 -62 -24 -87 -24 -220 1 -125 4 -161 22 -215 78 -239 222 -403 438 -500
                335 -150 746 -11 943 319 183 308 124 711 -142 958 -79 74 -199 143 -299 174
                -63 20 -241 32 -322 22z"/>
                <path d="M6295 6444 c-112 -18 -270 -97 -367 -186 -101 -92 -183 -230 -219
                -369 -30 -117 -23 -287 16 -407 82 -246 278 -428 532 -491 102 -26 204 -27
                310 -1 309 74 523 307 570 620 42 284 -105 593 -353 739 -123 72 -191 92 -334
                96 -69 2 -138 1 -155 -1z"/>
                <path d="M4055 6274 c-384 -74 -682 -299 -874 -657 -54 -101 -86 -198 -111
                -342 -24 -133 -25 -223 -5 -364 27 -188 94 -364 201 -527 86 -133 306 -324
                462 -403 456 -229 1019 -128 1380 248 422 440 456 1102 83 1595 -98 130 -266
                268 -416 343 -73 37 -223 86 -329 107 -95 20 -292 20 -391 0z"/>
                <path d="M1465 4160 c-212 -23 -421 -136 -576 -312 -148 -168 -236 -352 -280
                -587 -27 -147 -27 -422 0 -520 38 -138 111 -245 221 -326 123 -90 227 -115
                484 -115 128 0 186 4 226 16 125 37 189 108 238 264 58 187 170 392 331 605
                75 100 288 305 381 367 164 109 204 168 204 308 1 73 -3 92 -26 135 -31 60
                -87 114 -148 146 l-45 24 -470 1 c-259 1 -501 -2 -540 -6z"/>
                <path d="M6050 4161 c-86 -13 -173 -81 -222 -174 -32 -61 -32 -193 1 -257 32
                -62 82 -112 177 -176 166 -112 316 -285 441 -509 88 -159 130 -255 200 -465
                40 -118 76 -173 145 -220 75 -51 126 -60 359 -60 216 0 325 13 404 47 114 49
                238 165 290 270 56 116 65 162 65 359 0 276 -30 422 -131 629 -58 120 -122
                207 -222 302 -122 116 -248 189 -402 234 -78 22 -92 23 -570 25 -269 1 -510
                -1 -535 -5z"/>
                <path d="M3475 3293 c-123 -12 -297 -69 -434 -144 -161 -89 -358 -272 -463
                -434 -117 -177 -200 -369 -243 -555 -9 -41 -21 -91 -26 -110 -5 -19 -14 -128
                -21 -242 -25 -429 27 -623 214 -804 121 -117 244 -182 384 -204 47 -7 495 -10
                1404 -8 1257 3 1339 5 1395 22 146 44 295 148 391 271 41 53 100 175 120 250
                35 128 28 575 -12 755 -53 243 -134 436 -262 630 -61 92 -230 268 -327 342
                -112 85 -295 172 -440 210 -78 21 -103 21 -860 23 -429 1 -798 0 -820 -2z"/>
                </g>
                </svg>

                  
                  
            </div>
        </div>

        <div class="mt-24"></div>

        <h1 class="text-heading text-center text-black font-bold">NihonGO is not <span class="underline underline-offset-2 decoration-crimson">just for english speakers</span></h1>
        <p class="mt-3 text-center text-black ">Native Japanese speakers can practice their english with our built-in live translation feature with messaging.</p>
    </div>
{% endblock %}