<nav>
    <div class="bg-peach py-12 w-full absolute"></div>
    <div class="bg-white border border-peach border-2 rounded-3xl mx-6 z-10 translate-y-1/2 px-4 py-2">
        <div class="flex justify-between">
            <h1 class="ml-2 text-heading text-black font-japanese font-bold"><a href="/nihongo">日本<span class="text-crimson font-outfit">GO!</span></a></h1>
            <div class="flex space-x-10 mr-4">
                <button class="text-black font-DMSans"><a href="/nihongo/login/" class="hover:underline underline-offset-2 decoration-crimson">Log In</a></button>
                <button class="text-black font-DMSans"><a href="/nihongo/register/" class="hover:underline underline-offset-2 decoration-crimson">Register</a></button>
            </div>
        </div>
    </div> 
</nav>