{% extends 'components/wrapper.html' %}

{% block content %}
    <div class="py-8 font-outfit">
        <h1 class="text-title text-black font-outfit font-bold text-center relative group">
            <span class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 font-light text-sm text-white bg-black bg-opacity-50 rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity">
                Welcome!
            </span>
            ようこそ!
        </h1>        
        <form method="POST" class="space-y-4">
            {% csrf_token %}
            <div class="flex flex-col space-y-4 mx-[450px]">
                {% for field in registerform %}
                    <div>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-red-500 text-sm mt-1">
                                {{ field.errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="flex flex-col justify-center items-center">
                <button type="submit" class="bg-orange text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-crimson transition duration-300 mb-4">Register</button>
                <p class="text-sm font-light text-black text-opacity-50 mt-3">
                    Already have an account? <a href="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                </p>
            </div>
        
        </form>
    </div>
{% endblock %}
