{% extends "chat/base_generic.html" %}

{% block content %}
  <h1>Welcome, {{ request.user.username }}!</h1>
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'ChatRooms')">Chat Rooms</button>
    <button class="tablinks" onclick="openTab(event, 'Friends')">Friends</button>
    <button class="tablinks" onclick="openTab(event, 'PrivateChats')">Chats</button>
  </div>

  <div id="ChatRooms" class="tab-content">
    <h2>Your Chat Rooms</h2>
    <ul>
        {% for room in chat_rooms %}
        <li><a href="{% url 'room' room.name %}">{{ room.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_chat_room' %}">Create a New Chat Room</a>
  </div>

  <div id="Friends" class="tab-content" style="display: none;">
    <h2>Your Friends</h2>
    <form method="post" action="{% url 'add_friend' %}">
        {% csrf_token %}
        <input type="text" name="friend_username" placeholder="Enter friend's username">
        <button type="submit">Add Friend</button>
    </form>
    <ul>
        {% for friend in friends %}
        <li>{{ friend.friend.username }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'pending_friend_requests' %}">View Pending Friend Requests</a>
  </div>

  <div id="PrivateChats" class="tab-content" style="display: none;">
    <h2>Your Chats</h2>
    <ul>
        {% for friend in friends %}
        <li><a href="{% url 'chat_room' friend.friend.id %}">{{ friend.friend.username }}</a></li>
        {% endfor %}
    </ul>
  </div>

  <script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
  </script>
{% endblock %}
